

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activity Voyage</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  <div class=" mask d-flex align-items-center h-100 gradient-custom-3 mt-5">'

    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
<!--              {% for message in messages %}-->

<!--              <div class="alert alert-danger">-->
<!--                <a class="close" href="#" data-dismiss="alert">×</a>-->
<!--                {{ message }}-->
<!--              </div>-->

<!--              {% endfor %}-->
              <h2 class="mb-3 text-center">Activity Voyage</h2>

              <h3 class="mb-3">Hey Sheldon!</h3>
              <input type="hidden" id="town" name="town" th:value="${town}" />
              <br/>
              <div class="row d-flex justify-content-center py-5">
                <div class="col-md-8 col-lg-6 col-xl-5">

                  <div class="card text-body" style=" border-radius: 30px;">
                    <div class="card-body p-4">

                      <div class="text-center">
                        <h4 class="flex-grow-1" id="regionHeading"></h4>
                      </div>

                      <div class="flex-column text-center mt-5 mb-4">
                        <h5 class="display-4 mb-0 font-weight-bold" id="regionTemperature"></h5>
                        <span class="medium" style="color: #868B94" id="regionWeatherCondition"></span>
                      </div>

                      <div class="text-center">
                        <div class="flex-grow-1" >
                          <h5 id="regionWindspeed"></h5>
                          <h5 id="regionPrecipitation"></h5>
                        </div>
                      </div>

                      <div class="mt-5">
                        <a href="https://openweathermap.org" target="_blank" rel="author">Provided by OpenWeather.org</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-12 mt-5 mb-5">
                <h3>Activity Suggestions :</h3>
              </div>

              <div class="container-fluid my-3" id="activityContainer">
                      <div class="row" id="user_booking_log_list">
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</body>

</html>
<script>


//  function process_booking(user_id,flight_id){
//
//    Swal.fire({
//        icon:"info",
//        title: "Booking",
//        confirmButtonText: "Confirm",
//        showCancelButton: true,
//        allowOutsideClick:false,
//      }).then((result) => {
//        if (result.isConfirmed) {
//
//            $.ajax({
//              type: "POST",
//              data:{
//                'csrfmiddlewaretoken': '{{ csrf_token }}',
//                'user_id':user_id,
//                'flight_id':flight_id},
//              url: '{% url "flight-booking-page" %}',
//              dataType: "json",
//              success:function(response){
//
//                if(response.status==-1){
//                  Swal.fire({
//                    title: "Error",
//                    text: response.message,
//                    icon: "error",
//                    confirmButtonText: "OK",
//                    allowOutsideClick:false,
//                  }).then(function() {
//                    window.location = '{% url "home-page" %}';
//                  });
//
//
//                }else if (response.status==0){
//                  Swal.fire({
//                    title: "Notice",
//                    text: response.message,
//                    icon: "info",
//                    confirmButtonText: "OK",
//                    allowOutsideClick:false,
//                  }).then(function() {
//                    window.location = '{% url "home-page" %}';
//                  });
//
//                }
//                else{
//                  Swal.fire({
//                    title: "Success",
//                    text: response.message,
//                    icon: "success",
//                    confirmButtonText: "View My Bookings",
//                    allowOutsideClick:false,
//                  }).then(function() {
//                    window.location = '{% url "mybookings-page" %}';
//                  });
//                }
//              }
//          });
//        }
//      });
//  }

$(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'suggestions/list',
      data:{
        'town' : $("#town").val(),
      },
      dataType: 'json',
      success: function (response) {


          // weather data fill up
          $("#regionHeading").text(response.city + ", " + response.cityregion);
          $("#regionTemperature").text(response.weather.temperature + " °C");
          $("#regionWeatherCondition").text(response.weather.condition);
          $("#regionWindspeed").text("Wind Speed : " + response.weather.windspeed + " m/s");
          $("#regionPrecipitation").text("Precipitation : " + response.weather.precipitation + " mm");

          var html="";

          if(response.activities == null){
              html+="  <div class='col-12 mb-3'>";
              html+="    <div class='card border-secondary mb-3'>";
              html+="      <div class='card-body text-secondary'>";
              html+="        <h5 class='card-title text-center'>"+response.message+"</h5>";
              html+="      </div>";
              html+="    </div>";
              html+="  </div>";
          }
          else {
              response.activities.forEach(function (activity) {
                  html += "<div class='col-12 mb-3'>";
                  html += "  <div class='card border-secondary mb-3'>";
                  html+="       <div class='card-header'>";
                  html+="           <div class='row'>";
                  html+="               <div class='col-6'><h4>"+activity.activityName+"</h4></div>";
                  html+="               <div class='col-6'>";
                  if(activity.activitySlots == 0)
                    html+="                   <span class='label label-default' style='float: right;font-size:18px'>Not Available</span>";
                  else
                      html+="                   <span class='label label-success' style='float: right;font-size:18px'>Available</span>";

                  html+="               </div>";
                  html+="           </div>";
                  html+="       </div>";
                  html += "    <div class='card-body text-secondary'>";
                  html += "                   <input type='hidden' id='activityID' value='" + activity.id + "'>";
                  html += "                <h5 className='card-title' id='activityName'>Name : " + activity.activityName + " </h5>";
                  var type = activity.activityType ? 'OUTDOOR' : 'INDOOR';
                  html += "                <h5 className='card-title' id='activityType'>Type : " + type + " </h5>";
                  html += "                <h5 className='card-title' id='acivityLocation'>Location : "+activity.ActivityTown+"," + activity.ActivityRegion + " , " + response.cityregion + " </h5>";
                  html += "                <h5 className='card-title' id='availableSlots'>Slots : " + activity.activitySlots + "</h5>";
                  html += "                <h5 className='card-title' id='acivityPrice'>Price : £ " + activity.activityPrice + "</h5>";
                  html += "                <h5 className='card-title'>Distance : " + activity.ActivityRouteDistance + " miles </h5>";
                  html += "                <h5 className='card-title'>Time : " + activity.ActivityRouteTime.toFixed(2) + " hours</h5>";

                  if(activity.activitySlots == 0) {
                      html +="    <h5 class='card-title mt-5'>Remarks : Currently booking slots are not available, check back soon.</h5>";
                  } else {
                      html += "                 <div class='row mt-3'>";
                      html += "                     <div class='col-2' >";
                      html += "                         <button type='button' class='btn btn-success btn-block btn-sm text-body' onclick='process_booking(" + activity.id + ")' >Book</button>";
                      html += "                     </div>";
                      html += "                 </div>";
                  }
                  html += "    </div>";
                  html += "  </div>";
                  html += "</div>";
              });
          }
          $("#activityContainer").html(html);

      }
    });
})

function process_booking(activity_id){

    Swal.fire({
        icon:"warning",
        title: "Are you sure ?",
        confirmButtonText: "Confirm Booking",
        showCancelButton: true,
        allowOutsideClick:false,
    }).then((result) => {
        if (result.isConfirmed) {

            $.ajax({
                type: "POST",
                data:{
                    'activityID':activity_id
                },
                url: '/booking/activity',
                dataType: "json",
                success:function(response){

                    if(response.status==-1){
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                            confirmButtonText: "OK",
                            allowOutsideClick:false,
                        }).then(function() {
                            window.location = '/';
                        });
                    }
                    else{
                        Swal.fire({
                            title: "Success",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "View My Bookings",
                            allowOutsideClick:false,
                        }).then(function() {
                            window.location = '/mybookings';
                        });
                    }
                }
            });
        }
    });
}

</script>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Weather Information</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Weather in <span th:text="${town}"></span></h2>-->
<!--<a href="/">Back</a>-->
<!--</body>-->
<!--</html>-->